.main1{
    position:relative;
    width: 1400px;
    height: 400px;
    margin-left:  7.310249307479225vh;
    margin-top: 4.847645429362881vh;
 
}
.us{
    font-size:medium;
    line-height: 3.185595567867036vh;
}