body{
    background-color: rgb(255, 255, 255);
}
.ro{
    font-size: 4.1551246537396125vh;
    line-height: 10.387811634349031vh;
    margin-left: 54.016620498614955vh;
    margin-top:  4.847645429362881vh;
}
.x{
    position: relative;
    margin-left: 34.62603878116344vh;
    width:138.50415512465375vh;
    height:  69.25207756232687vh;
}
.ha,.qw,.po,.yu,.pk{
   font-size: 4.1551246537396125vh;
   margin-left:27.700831024930746vh;
}
.nn,.gh,.rt,.ios,.xi{
    margin-left: 27.700831024930746vh;
    font-size:x-large;
    font-family:'Times New Roman', Times, serif
    
 
}
.pp{
    margin-left: 1.3850415512465375vh;
}
.image1,.image2,.image3,.image4,.image5{
    margin-left:69.25207756232687vh ;
}
